<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Зая</title>
    <script src="jquery-3.6.0.min.js"></script>
    <script src="require.js"></script>
    <link rel="stylesheet" href="StyleSheet.css" />
    <link rel="import" href="htmlpage.cshtml" />
</head>
<body>
    <form action="Create" method="post">
        <label>Book number:</label>
        <input type="text" name="BookNumber" placeholder="Book number..." />
        <br />
        <label>Book name:</label>
        <input type="text" name="BookName" placeholder="Book name..." />
        <br />
        <label>Book author:</label>
        <input type="text" name="BookAuthor" placeholder="Book author..." />
        <br />
        <label>Book price:</label>
        <input type="text" name="BookPrice" placeholder="Book price..." />
        <br /><br />
        <input type="submit" value="Save book" />
    </form>
</body>
</html>
